<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBType" value="mssql" /> 
		<!--<add key="DBType" value="ole" />-->
	</appSettings>
	<connectionStrings>
		<add name="DbConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=YAME;Integrated Security=True" providerName="System.Data.SqlClient" />
		
		<!--
			<add name="DbConnectionStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\QLSV.accdb"/>
		-->
</connectionStrings>
</configuration>